/* line 1, app/assets/stylesheets/nav.scss */
.logo {
  text-align: center;
}

/* line 4, app/assets/stylesheets/nav.scss */
.text-logo {
  text-decoration: none;
  color: inherit;
}

/* line 8, app/assets/stylesheets/nav.scss */
.test-logo {
  text-align: left;
}

/* line 11, app/assets/stylesheets/nav.scss */
.nav.user {
  text-align: right;
}

/* line 15, app/assets/stylesheets/nav.scss */
.nav.user-email {
  border-botton: 1px solid #3c85e0;
}

/* line 19, app/assets/stylesheets/nav.scss */
.nav.nav-admin {
  height: 35px;
  paddinf: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

/* line 28, app/assets/stylesheets/nav.scss */
.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

/* line 33, app/assets/stylesheets/nav.scss */
.nav-admin.user {
  float: right;
}

/* line 37, app/assets/stylesheets/nav.scss */
.nav-admin.user-email {
  text-decoration: underline;
}

/* line 41, app/assets/stylesheets/nav.scss */
.nav.nav-admin
a {
  color: #ffffff;
}
