<% flash.each do |flag, message| %>
 <%= tag.div class: ["alert", bootstrap_color(flag), "alert-dismissible", "fade", "show"], role: "alert" do  %>
    <%= flash_message(flag)%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%end%>
  </div>
<% end %>