<h1>Questions</h1>

<p>
  <%= link_to 'New question',  new_admin_test_question_path %>
</p>

<table>
  <tr>
    <th>Body:</th>
  </tr>

  <%= render @questions %>

</table>
<%= link_to "Back", admin_tests_path %>