<div class="test-logo">
<h1>Tricky Tests</h1>
</div>

<% if current_user.admin? %>
  <div class="admin-link">
  	 <%= link_to "Try Admin mode", admin_tests_path %>
  </div>
<% end %>

<table>
	<tr>
		<th>Title:</th>
		<th>Level:</th>
		<th>Questions Count:</th>
		<th>Actions</th>
	</tr>

	<%= render @tests %>

</table>

